<section id="main">
  <ul id="todo-list">
    {{#each}}
      <li {{bind-attr class="isCompleted:completed:ufnky"}}>
        <input type="checkbox" class="toggle">
        <label>{{title}}</label><button class="destroy"></button>
      </li>
    {{/each}}
  </ul>

  <input type="checkbox" id="toggle-all">
</section>
